<c8y-title>
    {{ 'Setup' | translate }}
</c8y-title>
<div class="card">
    <div class="card-block">
        <form class="form-group" [formGroup]="configurationForm" autocomplete="on">
            <div class="d-grid grid__col--5-2-5--md">
                <fieldset>
                    <div class="legend form-block">
                        Configuration
                    </div>
                    <c8y-form-group class="col-lg-8">
                        <label translate>Cloud Tenant Name</label>
                        <input class="form-control" type="text" formControlName="tenantUrl" name="tenantUrl"
                            placeholder="your-tenant.cumulocity.com" #tenantUrlRef required
                            [readonly]="edgeConfiguration['device.id'] && edgeConfiguration['c8y.url']" />
                        <label title="Device ID">External Device Id</label>
                        <input class="form-control" type="text" formControlName="deviceId" name="deviceId"
                            placeholder="external Device Id"
                            [readonly]="edgeConfiguration['device.id'] && edgeConfiguration['c8y.url']"
                            #externalDeviceIdRef required />
                    </c8y-form-group>
                </fieldset>
                <div></div>
                <fieldset>
                    <div class="legend form-block">
                        Credentials for certificate upload
                    </div>
                    <c8y-form-group class="col-lg-8">
                        <label translate>Username</label>
                        <input class="form-control" name="username" formControlName="username"
                            placeholder="your username" #usernameRef required />
                        <label translate>Password</label>
                        <input class="form-control" name="password" formControlName="password"
                            placeholder="your password" type="password" #passwordlRef required />
                    </c8y-form-group>
                </fieldset>
            </div>
        </form>
    </div>
</div>

<div class="card">
    <div class="card-block">
        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <button class="btn btn-default" type="button" (click)="configureEdge()" [ngClass]="{ 'btn-pending': pendingCommand == 'configure' }">Configure Edge</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-default" type="button" (click)="downloadCertificate()">Download
                    Certificate</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-default" type="button" (click)="upload()">Upload Certificate</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-default" type="button" (click)="resetEdge()" [ngClass]="{ 'btn-pending': pendingCommand == 'reset' }">Reset</button>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-block">
        <app-terminal></app-terminal>
    </div>
</div>