<!doctype html>
<html lang="de">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <title>thin-edge.io - Welcome</title>
</head>

<body>
  <div class="container-fluid mx-auto p-2 pt-2">
    <div class="caption text-center">
      <label for="logo">
        <h2>thin-edge.io - Initial Registation</h2>
      </label>
    </div>
  </div>
  <div class="card-deck pb-5 pl-5 pr-5 h-80 mb-3">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top p-1 d-block" src="/static/images/logo.png" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Configure your thin-edge.io device</h4>
        <p class="card-text">Please enter your Tenant URL and your device ID.</p>
        </p>
      </div>
      <div class="card-footer">
        <p>
        <form method=post enctype=multipart/form-data>
          <div class="form-group">
            <div class="custom-file mb-3">
              <form>
                <table cellspacing=22>
                  <tr>
                    <td align="right"><label for="Tenant-URL">Tenant-URL:</label></td>
                    {% if configurationDone %}
                    <td align="left"><input type="text" id="Tenant-URL" class="form-control" id="Tenant-URL" name="Tenant-URL" placeholder="{{tenantURL}}"" size="50" required autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" readonly></td>
                    {% endif %}
                    {% if not configurationDone %}
                    <td align="left"><input type="text" id="Tenant-URL" class="form-control" id="Tenant-URL" name="Tenant-URL" placeholder="myTenant.eu-latest.cumulocity.com" size="50" required autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></td>
                    {% endif %}
                  </tr>
                  <tr>
                    <td align="right"><label for="Device-ID">Device-ID:</label></td>
                    {% if  configurationDone %}
                    <td align="left"><input type="text" id="Device-ID" class="form-control" id="Device-ID" name="Device-ID" placeholder="{{deviceID}}" size="50" required autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" readonly></td>
                    {% endif %}
                    {% if not configurationDone %}
                    <td align="left"><input type="text" id="Device-ID" class="form-control" id="Device-ID" name="Device-ID" placeholder="1234567890" size="50" required autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></td>
                    {% endif %}
                  </tr>
                  <tr>
                    {% if not configurationDone %}
                    <td align="right"><button type="submit" class="btn btn-primary" value="upload">Save</button></td>
                    {% endif %}
                  </tr>
                </table>
              </form>
              <br>
            </div>
          </div>
        </form>
        {% if  configurationDone %}
        <br><br>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#sureModal">
                Reset thin-edge.io
              </button>
      
              <!-- Modal -->
              <div class="modal fade" id="sureModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Are you sure to reset thin-edge.io</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>This will delete the certificate and completly resets thin-edge.</p> 
                      <p>You have to register thin-edge.io again afterwards.</p>
                      <p>There is no way back. Are you sure?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                      <a href="/reset" class="btn btn-outline-danger" role="button">Yes</a>
                    </div>
                  </div>
                </div>
              </div>
        {% endif %}
      </div>
    </div>
   
      </div>
  
    </div>
  </div>
</body>

</html>
