<c8y-title>
  {{ 'Cloud' | translate }}
</c8y-title>
<div class="card-group">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-block my-card-body">
        <div class="form-group" [formGroup]="loginForm">

          <div class="row">
            <c8y-form-group class="col-lg-8">
              <fieldset>
                <div class="legend form-block">
                  Connection properties
                </div>
                <label translate>Cloud Tenant Name</label>
                <input class="form-control" type="text" formControlName="tenantUrl"
                  placeholder="your-tenant.cumulocity.com" #tenantUrlRef required
                  [readonly]="edgeConfiguration['device.id'] && edgeConfiguration['c8y.url']" />
                <label translate>Username</label>
                <input class="form-control" formControlName="username" placeholder="your username" #tusernameRef
                  required />
                <label translate>Password</label>
                <input class="form-control" formControlName="password" placeholder="your password" type="password"
                  #passwordlRef required />
              </fieldset>
            </c8y-form-group>
          </div>

          <button class="btn btn-primary" type="button" (click)="login()">Test Login to Tenant</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <c8y-data-grid [title]="'Device Details' | translate" [columns]="columns" [rows]="rows$ | async"
        [pagination]="pagination" [actionControls]="actionControls" [displayOptions]="displayOptions">
      </c8y-data-grid>
    </div>
  </div>
</div>