[Unit]
Description=config2mqtt watchdog
After=tedge-mapper-c8y.service

[Service]
User=root
ExecStart=/usr/bin/python3 /etc/tedge/reader.py
Restart=on-failure

[Install]
WantedBy=multi-user.target