<c8y-title>
    {{ 'Control' | translate }}
</c8y-title>

<div class="card">
    <div class="card-block">
        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <button class="btn btn-default" type="button" (click)="startEdge()">Start Edge</button>
            </div>
            <div class="btn-group" role="group">                
                <button class="btn btn-default" type="button" (click)="stopEdge()">Stop Edge</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-default" type="button" (click)="restartPlugins()">Restart Plugins</button>
            </div>
        </div>
    </div>
    <app-terminal></app-terminal>
</div>