<c8y-title>
  {{ 'Certificate setup' | translate }}
</c8y-title>

<c8y-action-bar-item [placement]="'right'">
  <button
    class="btn btn-link"
    title="{{ 'Create certificate' | translate }}"
    (click)="showCreateCertificate = !showCreateCertificate"
  >
    <i class="fa fa-plus-circle"></i>&nbsp;<span translate>Create certificate</span>
  </button>
</c8y-action-bar-item>

<div [ngClass]="{ drawerOpen: showCreateCertificate }">
  <div class="bottom-drawer">
    <c8y-manage-certificate
      *ngIf="showCreateCertificate"
      (onClose)="onCloseCertificateDialog()"
      [refresh]="refresh"
      class="d-contents"
    >
    </c8y-manage-certificate>
  </div>
</div>
