<div class="card-group">
    <div class="col-sm-6">
        <div class="card">
            <form [formGroup]="form">
                <div class="card-header">Diagram properties</div>
                <div class="card-block">
                    <formly-form [model]="config" [fields]="fields" [options]="options" [form]="form"></formly-form>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary" (click)="onSaveClicked()">Save</button>
                    <button type="button" class="btn btn-primary" (click)="onCloseClicked()">Close</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">Measurement Types</div>
            <div class="card-block">
                <ul class="list-group">
                    <li class="list-group-item collapsible" *ngFor="let mType of measurementTypes"
                        [ngClass]="{ expanded: isDetailOpen }" #li>
                        <button type="button" title="{{ 'Expand' | translate }}" class="collapse-btn"
                            [ngClass]="{ active: li.collapsed }" (click)="li.collapsed = !li.collapsed">
                            <i c8yIcon="chevron-down"></i>
                        </button>
                        <span>{{mType.name}} (with series)</span>
                        <div [collapse]="li.collapsed" [isAnimated]="true">
                            <ul class="list-group">
                                <li class="list-group-item" *ngFor="let serie of mType.series; index as i;">
                                    {{i}}. &nbsp;{{serie}}
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>