.my-card-body {
    padding: 1.25rem;
    padding-top: 1.25rem;
    padding-right: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 1.25rem;
}

.small-font {
    font-size: small;
}


c8y-data-grid button[title="Reload"] {
    display: none;
}

c8y-data-grid div.dropdown[container="body"] {
    display: none;
}

/* c8y-data-grid > div > div.table-data-grid-header.separator.large-padding > div > div > button {
    display: none;
} */

/* 
c8y-data-grid > div > div.table-data-grid-header.separator.large-padding > div > div > div.dropdown {
    display: none;
} */