[Unit]
Description=watchdog-service-mapper
After=tedge-mapper-c8y.service

[Service]
User=root
ExecStart=/usr/bin/python3 /etc/tedge/plugins/watcher.py
Restart=on-failure

WatchdogSec=30

[Install]
WantedBy=multi-user.target
